<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <p>@2025 Dummy Copyrights Reserved.</p>
    <a href="https://github.com/Dewiin/members-only"><i class="fa fa-github" style="font-size: 2rem; color: var(--tertiary-color)"></i></a>
</footer>