<link rel="stylesheet" href="/styles/messages.css">
<div class="message-box">
    <div class="message-header">
        <div class="message-header-profile-icon">

        </div>
        <div class="message-header-info">
            <p class="message-header-fullname"></p>
        </div>
    </div>
    <h3> <%= message.title %> </h3>
    <p> <%= message.text %> </p>
</div>