<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <%- include("partials/favicon") %>
</head>
<body>
    <%- include("partials/defaultNavbar") %>

    <main class="auth-error">
        <h1>401</h1>
        <h3>You are not authorized for this page!</h3>
    </main>

    <%- include("partials/footer") %>
</body>
</html>