@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--primary-color: rgb(8 10 12);
	--secondary-color: rgb(90 91 114);
	--tertiary-color: rgb(157 155 149);
}

* {
	font-family: "Anonymous Pro", monospace;
}

html,
body {
	min-height: 100vh;
	max-height: fit-content;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: var(--primary-color);
}

body {
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0;
}

footer {
	width: 100%;
	height: fit-content;
	padding: 1rem 0;
	text-align: center;
	color: var(--tertiary-color);
}

a {
	text-decoration: none;
}

.errors-list {
	margin: 0 1rem;
	padding: 1rem;
	padding-left: 2rem;
	background-color: #780000;
	color: var(--tertiary-color);
	border-radius: 15px;
}

.auth-error {
	width: 50%;
	text-align: center;
	color: var(--tertiary-color);
	margin: 15rem auto 0;
	font-size: 2em;
	flex: 1;
}

.notif {
	width: 40%;
	text-align: center;
	padding: 1rem 2rem;
	background-color: var(--secondary-color);
	color: white;
	border: 1px solid;
	border-radius: 10px;
}

.notif a {
	color: rgb(59 41 81);
	font-weight: 900;
	text-decoration: underline;
	cursor: pointer;
}
