.navbar-container {
	width: 100%;
	position: fixed;
	top: 1rem;
}

.default-navbar, .user-navbar {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* background-color: var(--secondary-color); */
	color: var(--tertiary-color);
	margin: auto;
	padding: 0.5rem 2rem;
	border-radius: 15px;
	border-bottom: 4px solid;
}

.default-navbar > section, .user-navbar > section {
	display: flex;
	min-width: fit-content;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.default-navbar > section button {
	height: 50px;
	padding: 0 1rem;
	font-size: 1em;
	font-weight: 900;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.register-button {
	color: rgb(59 41 81);
	background-color: rgb(249 244 245);
}
.login-button {
	background-color: rgb(59 41 81);
	color: rgb(249 244 245);
}

.logo {
	width: 2rem;
	display: flex;
	align-items: center;
}

.user-navbar-profile {
	position: relative;
	cursor: pointer;
}

.user-navbar-profile-icon {
	width: 2rem;
	height: 2rem;
	background-color: orange;
	border-radius: 20px;
}

.user-navbar-profile > ul {
	position: absolute;
	visibility: hidden;
	border: 1px solid var(--tertiary-color);
	background-color: var(--primary-color);
	padding: 0;
	top: 3.5rem;
}

.user-navbar-profile > ul.active {
	visibility: visible;
}

.user-navbar-profile > ul li {
	padding: 1rem;
	list-style: none;
	cursor: pointer;
	color: var(--tertiary-color);
	transition: background-color 200ms ease, color 200ms ease;
}

.user-navbar-profile > ul li:hover {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}


@media (max-width: 835px) {
	.default-navbar, .user-navbar {
		justify-content: center;
	}
}
